[submodule "macosx/SwiftAdditions"]
	path = macosx/Vendor/SwiftAdditions
	url = https://github.com/MaddTheSane/SwiftMacTypes.git
[submodule "macosx/Vendor/memorymapping"]
	path = macosx/Vendor/memorymapping
	url = https://github.com/NimbusKit/memorymapping.git
